@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono'),
    url('https://nth233.website/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Segoe UI Emoji';
    src: local('Segoe UI Emoji'),
    url('./font/seguiemj.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Segoe UI Emoji';
    src: local('Segoe UI Emoji'),
    url('./font/seguiemj.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
    url('./font/Roboto-Regular.woff2') format('woff2');
}

body {
    font-family: 'Roboto', 'Segoe UI Emoji', 'Noto Emoji', Arial, Helvetica, sans-serif;
    width: 15em;
    margin-left: calc((100vw - 15em)/2);
    margin-top: 50px;
}
#top-card {
    display: inline-block;
    width: 4em;
    padding-left: 2em;
}
#log-list {
    font-size: small;
    padding-left: 2em;
    list-style-type: circle;
}
#log-list .red_card,
#log-list .green_card, 
#log-list .blue_card, 
#log-list .wild_card,
#log-list .yellow_card{
    font-size: small;
    width: 2em;
    text-align: center;
    display: inline-block;
    list-style-type: disc;
}
#log-list .chat-message {
    font-weight: bold;
    list-style-type: disc;
}
.big-button {
    height: 2em;
    width: 4em;
}
.red_card {
    font-family: 'JetBrains Mono Regular';
    background-color: salmon;
    font-size: larger;
    color: darkred;
}
.green_card {
    font-family: 'JetBrains Mono Regular';
    background-color: palegreen;
    font-size: larger;
    color: darkcyan;
}
.yellow_card {
    font-family: 'JetBrains Mono Regular';
    background-color: wheat;
    font-size: larger;
    color: olive;
}
.blue_card {
    font-family: 'JetBrains Mono Regular';
    background-color: lightblue;
    font-size: larger;
    color: darkslategray;
}
.wild_card {
    font-family: 'JetBrains Mono Regular';
    background-color: darkslategray;
    font-size: large;
    color: whitesmoke;
}