body {
    width: 15em;
    margin-left: calc((100vw - 15em)/2);
    margin-top: 50px;
}
#top-card {
    display: inline-block;
    width: 4em;
    padding-left: 2em;
}
#log-list {
    font-size: small;
    list-style-type: disc;
    padding-left: 2em;
    list-style-type: circle;
}
#log-list .red_card,
#log-list .green_card, 
#log-list .blue_card, 
#log-list .wild_card,
#log-list .yellow_card{
    font-size: small;
    width: 2em;
    text-align: center;
    display: inline-block;
    list-style-type: disc;
}
#log-list .chat-message {
    font-weight: bold;
}
.big-button {
    height: 2em;
    width: 4em;
}
.red_card {
    background-color: salmon;
    font-size: larger;
    color: darkred;
}
.green_card {
    background-color: palegreen;
    font-size: larger;
    color: darkcyan;
}
.yellow_card {
    background-color: wheat;
    font-size: larger;
    color: olive;
}
.blue_card {
    background-color: lightblue;
    font-size: larger;
    color: darkslategray;
}
.wild_card {
    background-color: darkslategray;
    font-size: large;
    color: whitesmoke;
}